/* All styles for your header Components live here */



.header-container{
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 1rem;
}


.logo{
    margin: 0.2rem 0.4rem;
    width: 10rem;
    margin-bottom: 1rem;
   

}

.txt-container{
    display: flex;
    flex-direction: column;
    
}

.cardName{
    display: flex;
    
}
.cardName h1{
    font-weight: 700;
    margin: 1rem;
}

.cardName p{
    color: gray;
    margin: 1rem;
    
}
.headerPTag{
    margin: 0 1rem;

}