/* All styles for your header Components live here */
.header-container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: 
    "logo cardName cardName"
    "logo headerPTag headerPTag"
    ". headerPTag headerPTag";

}


.logo{
    grid-area: logo;
}

.cardName{
    display: flex;
    grid-area: cardName;
    font-size: 2rem;
}

.headerPTag{
    grid-area: headerPTag;
}